* {
	box-sizing: border-box;
}

body {
	font-family: 'Istok Web', sans-serif;
	font-size: 16px;
	background: url('../images/zigzagwool.png');
	color: #eeeeee;
} 

h1 {
	font-family: 'Barrio', cursive;
	font-size: 66px;
	color: #ff32f1;
}

h2 {  
	font-family: 'Barrio', cursive;
	font-size: 24px;
}

.gamecontainer {
	width: 950px;
	margin: 50px auto;

}

.header {
	margin: 20px auto; 
}

.header h1 {
	font-size: 66px;
	color: #ff32f1;
}

.directions {
	margin: 20px auto;
	color: #87FF32;
} 

.directions h2 { 
	padding-top: 10px; 
	padding-bottom: 10px;
	color: #87FF32;
 }

.numbercontainer {
	display: inline-flex;
	width: 950px;
	margin-bottom: 25px;
} 

.scores, .winloss {
	width: 475px;
} 

.scores h2, .winloss h2 {
	color: #FFEF32;
}


.button {
	height: 225px;
}

.button-bg { 
	height: 235px; 
	width: 225px;
	background-color: #333333;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

 } 

.button-bg:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}



.gemRow {
	width: 950px;
	display: inline-flex;
	justify-content: space-between; 
	align-items: center;
}

.margintpbtm20 {
	margin-top: 20px;
	margin-bottom: 20px;
}